@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  *,
*::before,
*::after {
  box-sizing: border-box;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: contain;

  }

  html{
    min-height: 100%;
  }


  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #F2F2F2;
    color:#000000;
    margin: 0;
    padding: 0;

  }

  .visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip:rect(0 0 0 0 );
    overflow: hidden;
}

/* ШАПКА НАВИГАЦИЯ */

.main-header{
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    color: #000000;
    padding-left: 70px;
    padding-right: 70px;

}

.main-header-logo{

}

.navigation {
    display: flex;


}


.navigation-list{
    list-style-type: none;
}


.navigation-list-menu{
    display: flex;
    padding: 0;
    margin: 0 285px 0 0;

}

.navigation-list-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;

}

.navigation-item{


}

.navigation-item-menu{


}


.navigation-link{
    display: block;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: inherit;
    text-decoration: none;
}

.navigation-link-menu{
    padding: 20px 26px 20px 16px;

}



.navigation-user{


}

.navigation-item-user{

}

.navigation-link-user{


}





.navigation-user .navigation-link {
    min-width: 18px;
    min-height: 17px;
}





.button-search-hotels{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color:#ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
    width: 160px;
    height: 36px;
    text-align: center;
    border-radius: 4px;
}



.main-container{
    flex-grow: 1;
}

.page-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    flex-grow: 1;
    margin: 0 auto;
    width: 1200px;
}

.main-index {
    background-color: #ffffff;
}

.hero{
    background-image: url(../images/index-main.jpg);
    background-color: #000000;
    color:#ffffff;
    background-size: 100% auto;
    background-repeat: no-repeat;

    padding: 51px 50px 82px 50px;
    position: relative;
}

.hero-img{
    display: block;
    margin: 0 auto;

}

.welcome{
    padding: 69px 274.5px;

}

.caption-description-welcome{
    margin-top: 0;
    margin-bottom: 25px;
}

.text-description-welcome{
    margin: 0;

}

.caption-description {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color:#000000;
    text-transform: uppercase;

}



.caption-description-wrapper{
    display: flex;
}

.comfort{
    padding: 64px 347.5px;

}

.caption-description-comfort{
    margin-top: 0;
    margin-bottom: 25px;
}

.text-description-comfort{
    margin: 0;
}

.text-description{
    font-family: inherit;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color:#333333
}

.caption-description-heading{
    margin-left: 0;

}

.choice-of-hotels-wrapper{
    display: flex;

}

.choice-of-hotels{
    list-style-type: none;
    padding: 40px 70px;
    margin: 0;
}

.choice-of-hotels-item{
    width: 1060px;
}

/* БЛОК ПРЕИМУЩЕСТВ */


.advantages-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}


.advantages-item{
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    background-color: #82B3D3;
    color: #ffffff;
    width: 400px;
    min-height: 385px;
    margin: 0;
    text-align: center;

}

.advantages-title{
    margin: 0;
}

.advantages-item-container{
    width: 230px;
    min-height: 181px;
    margin: 102px 85px 102px 85px;

}

.advantages-description{
    margin: 0;

}

.advantages-item-image{
    width: 800px;

}

.advantages-item-image img{
    display: block;

}



.advantages-item p{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    color: #ffffff;

}

.advantages-item-excellence{
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    background-color: #83B3D31F;
    color: #000000;
    width: 400px;
    min-height: 385px;
    margin: 0;
    padding: 0;
}

    .advantages-item-excellence-gray{
        background: rgba(131, 179, 211, 0.12);

    }

    .advantages-item-excellence-blue{
        background: rgba(131, 179, 211, 0.2);



    }


.advantages-item-excellence p{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    color: #333333;
}

.devils-bridge{
    display: flex;

}

.advantages-item-devils-bridge{
    display: flex;
    flex-direction: column;
    order: 1;

}

/* СЕРВИС БЛОК */

.service{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


.service-list{
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.service-item{
    width: 400px;
    min-height: 385px;
    text-align: center;

}

.service-item-container{
    width: 230px;
    min-height: 223px;
    margin: 81px 85px 81px 85px;
}

.service-title{
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;
    margin: 0;

}

.service-description{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    color: #333333;
    margin: 0;

}


.service-item-souvenirs,
.service-item-house {
    background-color: rgba(131, 179, 211, 0.12);

}



/* ПРОМО БЛОК */


.promo-block {
    padding: 96px 304px;
    text-align: center;
    min-height: 406px;
}

.caption-description-promo{
    margin-bottom: 20px;


}

.text-description-promo{
    margin-bottom: 54px;


}

.button-search-hotels-promo{
    display: inline-block;
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color:#ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
    width: 376px;
    height: 52px;
    text-align: center;
    border-radius: 4px;
    padding: 8px 50px;
}

/* РАССЫЛКА БЛОК */

.subscribe-block{
    text-align: center;
    background-image: url(../images/bg-section-subscription.jpg);
    background-size: 100% auto;
    background-color: #000000;
    background-repeat: no-repeat;
    padding: 96px 104px 58px;

}

.subscribe-description-block{
    margin-bottom: 20px;

}

.text-subscribe-block{
    margin-bottom: 54px;

}

.subscribe-form{
    display: flex;
    justify-content: center;
}

.email-form{
    width: 452px;
    height: 52px;
    padding: 14px 345px 14px 20px;
    border: none;
    border-radius: 4px 0 0 4px;


}
.button-subscribe{
    width: 232px;
    height: 52px;
    padding: 0;
    border-radius: 0 4px 4px 0;

}

/* ФУТЕР */


.main-footer{
    background-color: #ffffff;
    color: #000000;
    padding-left: 81px;
    padding-right: 70px;

}


.social-list{
    display: flex;
    justify-content: space-between;
    margin: 0;

}

.footer-social-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 45px 41px 35px 0;
    margin: 0;
    list-style-type: none;
}

.contacts-phone{
    padding-top: 45px;
    padding-bottom: 35px;

}

.link-logo-htmlacademy{
    display: block;
    padding: 48px 0 38px 41px;
    margin: 0;

}



/* Каталог страница  - Фильтр Гостиниц */


.main-catalog-wrapper{
    background-image: url(../images/bg-section-filter.jpg);
    background-color: #ffffff;
    color:#000000;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0;
    padding: 35px 70px 0 70px;


}


.inner-header{
    margin: 0;

}

.inner-header-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;
    margin-bottom: 8px;
    margin: 0;

}

.breadcrumbs{
    display: flex;
    margin: 0;
}

.breadcrumbs-link{
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;

}

.catalog-filter-hotels{
    color:#ffffff;
}



.catalog-filter{
    display: flex;

}

.catalog-filter-house{
    display: flex;
    border: none;
    padding: 40px 140.15px 73px 0;
    margin: 0;

}

.catalog-filter-group-infastructure{
    width: 150.43px;
}

.catalog-filter-group-house{
    width: 150.43px;
    margin-left: 70px;


}



.catalog-filter-group{
    border: none;

}

.catalog-filter-title{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    align-items: baseline;
    padding-bottom: 32px;


}


.catalog-filter-list{
    list-style-type: none;
    margin: 0;
    padding-left: 0;

    /* padding-left: 0; */
}

.catalog-filter-item{
    /* margin-bottom: 16px; */
}

.control-input{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}


.catalog-filter-cost{
    display: flex;
    border: none;
    width: 549px;
    padding-top: 40px;
    padding-right: 70px;
    margin: 0;

}

.catalog-filter-group-cost{
    border: none;
    margin: 0;
}


.button-filter{
    border: none;
    margin: 0;

}


.button-filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;

}

.button-reset{
    padding-top: 32px;

}

.button-submit{

}


.button-apply{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #82B3D3;
    color: #ffffff;
    border: none;
    width: 191px;
    height: 36px;
    text-transform: uppercase;
    border-radius: 4px;

}

/* ГЛАВНАЯ КАТОЛОГ */

{
    margin: 0;
    padding: 56.5px 90px 60px 90px;
}


.subscribe-block-catalog{
    padding: 96px 104px 58px;
    text-align: center;

}


.subscribe-description-catalog{
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color:#000000;
    margin-bottom: 20px;

}

.text-subscribe-catalog{
    font-family: inherit;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 54px;

}


/* Главная страница */

.subscribe-description{
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color:#ffffff;
    text-transform: uppercase;
}

.text-subscribe{
    font-family: inherit;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color:#ffffff;
}

.number-phone{
    font-family: inherit;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    font-style: normal;

}

.button-subscribe{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color:#ffffff;
    border: none;
    text-transform: uppercase;


}

.email-form{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

/* Остальное по каталогу */





.select-control{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;

}

.product-card-link{
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;

}

.type-housing{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-card-price{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: right;

}

.product-card-booking-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-align: center;
    text-decoration: none;
}

.product-card-favourites-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #82B3D3;
    text-align: center;
    text-decoration: none;

}

.product-card-favourites-button-active{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #7DB54F;
    text-align: center;
    text-decoration: none;
}

.rating{
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-align: center;

}

.pagination-link{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    ;
}

.pagination-current{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    background-color: #F2F2F2;

}
