@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

  *,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }

  html{
    height: 100%;
  }


  body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    background-color: #F2F2F2;
    color:#000000;
    margin: 0;
    padding: 0;


  }

.main-header{
    display: flex;
    background-color: #ffffff;
    color: #000000;
    padding: 0;
    min-height: 64px;

}

.navigation-list{
    display: flex;
}

.navigation-item-menu{
    display: flex;
    margin-top: 20px;
}

.navigation-user{
    max-width: 360px;
    margin-left: auto;

}

.navigation-item-user{
    display: flex;
    margin-top: 20px;
    margin-right: 70px;
}

.navigation-link{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
}

.main-container{
    flex-grow: 1;
}

.page-container{
    margin: 0 auto;
    width: 1200px;
}

.main-index {
    background-color: #ffffff;
}

.hero{
    background-image: url(../images/index-main.jpg);
    height: 428px;
    background-color: #000000;
    color:#ffffff;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.hero-img{
    display: block;
    margin: 0 auto;

}

.welcome{
    min-height: 261px;

}

.caption-description-welcome{
    margin-top: 69px;
    margin-left: 290px;
    margin-right: 290px;
    margin-bottom: 25px;
}

.text-description-welcome{
    width: 651px;
    margin-left: 275px;
    margin-right: 275px;
    margin-bottom: 90px;

}

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}
.navigation-list{
    margin: 0;
    padding: 0;
    width: 577px;
}



.caption-description {
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color:#000000;
    text-transform: uppercase;

}

.text-description{
    font-family: inherit;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color:#333333
}

/* БЛОК ПРЕИМУЩЕСТВ */


.advantages-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}


.advantages-item{
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    background-color: #82B3D3;
    color: #ffffff;
    width: 400px;
    min-height: 385px;
    margin: 0;
    padding: 0;
    text-align: center;

}

.advantages-item-image{
    width: 800px;

}

.advantages-item-image img{
    display: block;

}



.advantages-item p{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    color: #ffffff;

}

.advantages-item-excellence{
    display: flex;
    flex-direction: column;
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    background-color: #83B3D31F;
    color: #000000;
    width: 400px;
    min-height: 385px;
    margin: 0;
    padding: 0;
}

    .advantages-item-excellence-squar,
    .advantages-item-excellence-tourist{
        background: #83B3D31F;
    }

    .advantages-item-excellence-road{
        background: #83B3D333;

    }


.advantages-item-excellence p{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    color: #333333;
}

.devils-bridge{
    display: flex;

}

.advantages-item-devils-bridge{
    display: flex;
    flex-direction: column;
    order: 1;

}

/* СЕРВИС БЛОК */

.service{
    display: flex;
    flex-direction: column;
}


.service-list{
    display: flex;
    padding: 0;
    margin: 0;

}

.service-item{
    width: 400px;
    min-height: 385px;
    text-align: center;

}

.service-title{
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #000000;

}

.service-description{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: none;
    color: #333333;

}


.service-item-souvenirs,
.service-item-house {
    background-color: rgba(131, 179, 211, 0.12);

}

/* ПРОМО БЛОК */


.promo-block {
    text-align: center;
    min-height: 406px;
}

.caption-description-promo{
    margin-top: 96px;
    margin-bottom: 20px;

}

.text-description-promo{
    margin-bottom: 54px;

}

.button-search-hotels-promo{
    margin-bottom: 96px;

}

.button-search-hotels{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color:#ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
}


.subscribe-block{
    text-align: center;
    background-image: url(../images/bg-section-subscription.jpg);
    background-size: 100% auto;
    background-color: #000000;
    height: 415px;
    background-repeat: no-repeat;

}

/* ФУТЕР */

.social-list{
    display: flex;
    justify-content: space-between;
    min-height: 120px;

}

.footer-social-list{
    display: flex;
    justify-content: space-between;
    width: 160px;
    margin-left: 70px;
    margin-top: 45px;
    margin-bottom: 35px;
}

.contacts-phone{
    margin-top: 45px;
}

.link-logo-htmlacademy{
    display: block;
    margin-top: 48px;
    margin-right: 70px;

}



/* Каталог страница */
.subscribe-block-catalog{
    text-align: center;

}

.subscribe-description-catalog{
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color:#000000;

}

.text-subscribe-catalog{
    font-family: inherit;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

}




/* Главная страница */
.subscribe-description{
    font-family: inherit;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color:#ffffff;
    text-transform: uppercase;
}

.text-subscribe{
    font-family: inherit;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color:#ffffff;
}

.number-phone{
    font-family: inherit;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    font-style: normal;

}

.button-subscribe{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    background-color: #82B3D3;
    color:#ffffff;
    border: none;
    text-transform: uppercase;


}

.email-form{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

/* Остальное по каталогу */

.main-inner{
    background-image: url(../images/bg-section-filter.jpg);
    background-color: #ffffff;
    color:#000000;
    background-size: 100% auto;
    background-repeat: no-repeat;

}

.inner-header-title {
    font-family: inherit;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #ffffff;

}
.catalog-filter-hotels{
    color:#ffffff;
    /* background-color: #000000; */
}

.breadcrumbs-link{
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #ffffff;
    text-decoration: none;

}

.catalog-filter-title{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;

}

.control-input{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
}

.button-apply{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    background-color: #82B3D3;
    color: #ffffff;
    border: none;

}
.select-control{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;

}

.product-card-link{
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;

}

.type-housing{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}

.product-card-price{
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    text-align: right;

}

.product-card-booking-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-align: center;
    text-decoration: none;
}

.product-card-favourites-button{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #82B3D3;
    text-align: center;
    text-decoration: none;

}

.product-card-favourites-button-active{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #7DB54F;
    text-align: center;
    text-decoration: none;
}

.rating{
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #333333;
    text-align: center;

}

.pagination-link{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #ffffff;
    background-color: #82B3D3;
    text-decoration: none;
    ;
}

.pagination-current{
    font-family: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #000000;
    background-color: #F2F2F2;

}


.visually-hidden{
    padding: 0;
    margin: 0;
}
